.outter{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.form-outer{
  border: 1px solid #0d6efd;
  width: min(80%, 400px);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem 0rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Light shadow */
                0 6px 20px rgba(0, 0, 0, 0.1); /* Slightly darker shadow */
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form input {
    margin-top: 10px;
    padding: 4px 6px;
    width: min(80%, 400px);
    border-radius: 5px;
    background-color:rgb(237, 210, 210);
    border: none;
    color: black;
}

.form button{
    font-size: 20px;
    margin-top: 20px;
    padding: 4px 6px;
    width: min(80%, 400px);
    border-radius: 5px;
    background-color: #0d6efd;
    border: none;
    color: white;
}

.form button:hover{
    transform: scale(.96);
}

.reg-link{
  margin-top: 20px;
}

.reg-link span{
  color: azure;
}

.reg-link a{
  margin-left: 15px;
  /* background-color: black; */
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 10px;
}
.reg-link a:hover{
  text-decoration: none;
  color: white;
  background-color: rgb(112, 22, 22);
}